// ONBOARDING

#onboarding {
	@include flex-parent();

	.od-logo {
		text-align: center;
		margin-top: 50px;

		img {
			width: 55%;
			max-width: 290px;
		}

		p {
			margin-top: 25px;
		}
	}

	.ob-top-section.onboarding {
		margin-bottom: 30px;
	}

	.ob-footer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		background-color: #000;
		position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;

		a {
			color: $primary-color-one;
			text-decoration: underline;
		}
	}
}

@media (min-width: $screen-xs-min) {
	#onboarding {
		.od-logo{
			p.signup {
				margin-top: 50px;
			}
		}

		.ob-footer {
			height: 80px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	#onboarding {
		.od-logo{
			p.signup {
				margin-top: 65px;
			}
		}

		.ob-footer {
			height: 100px;
		}
	}
}

@media (min-width: $screen-md-min) {
	#onboarding {
		.copy {
			font-size: 38px;
			line-height: 46px;
		}

		.od-logo {
			margin-top: 80px;

			p.signup {
				margin-top: 110px;
			}
		}

		.ob-footer {
			height: 120px;
		}
	}
}

@media (min-width: $screen-lg-min) {
	#onboarding {
		.od-logo {
			p.signup {
				margin-top: 40px;
			}
		}
	}
}
