<div class="wrapper" ng-class="{'screen1': obPage===1, 'screen2': obPage===2, 'screen3': obPage===3,}" slider>
	<div class="overlay"></div>
	<div id="onboarding" ng-if="obPage === 1 || obPage === 2" fade>
		<section class="logo">
			<div class="od-logo">
				<img src="/images/logo@2x.png">
			</div>
		</section>
		<section class="ob-top-section onboarding">
			<div class="scrollable">
				<div class="content scroll-content" ng-class="pbPage()">
					<div class="obText1 inline-block form-scroll-page">
						<p class="copy"><span ng-click="hello()">Thanks</span> for downloading the new SBS On Demand app.</p>
						<p class="copy">We've added a bunch of features you've been asking for with even more to come.</p>
					</div>
					<div class="obText2 inline-block form-scroll-page">
						<p class="copy">To start watching from thousands of movies and TV shows, all free, you'll need an SBS account</p>
						<p class="copy">Sign in is simple</p>
					</div>
				</div>
			</div>
			<div class="dot-controls" ng-swipe-left="stopEvent($event)" ng-swipe-right="stopEvent($event)" ng-hide="obPage===3">
				<div class="dot dot-one" ng-class="{'active': obPage===1}" ng-click="changeScreen(1)"><span></span></div>
				<div class="dot dot-two" ng-class="{'active': obPage===2}" ng-click="changeScreen(2)"><span></span></div>
				<div class="dot dot-three" ng-class="{'active': obPage===3}" ng-click="changeScreen(3)"><span></span></div>
			</div>
		</section>
		<section class="ob-bottom-section">
			<div class="call-to-action" ng-swipe-left="stopEvent($event)" ng-swipe-right="stopEvent($event)">
				<a class="ob-next" ng-show="obPage != 3" ng-click="next()">Next</a>
				<a class="ob-signup" ui-sref="createAccount" class="signup" ng-show="obPage === 3">Sign up</a>
				<a class="ob-not-now" ui-sref="signinLater" ng-show="obPage === 3">Not now</a>
			</div>
		</section>
	</div>
	<div id="onboarding" ng-if="obPage === 3" fade>
		 <div class="traditional">
			<form class="form" name="traditionalLoginForm" ng-submit="traditionalLogin()" novalidate form-validation>
				<section class="logo">
					<div class="od-logo">
						<img src="/images/logo@2x.png">
						<p class="copy signup">Sign in or create a new account below to start watching</p>
					</div>
				</section>
				<section class="ob-top-section">
					<div>
						<div class="field">
							<label for="email">Email / Username</label>
							<input type="text" class="error-empty" name="email" ng-model="model.email" placeholder="youremail@domain.com.au" required />
							<span class="email-error"></span>
						</div>
						<div class="field">
							<label for="password">Password</label>
							<input type="password" class="error-empty password lg-password" name="password" ng-model="model.password" placeholder="Enter password here" required />
							<span class="error-empty-msg"></span>
							<a href="/forgotPassword.html" class="forgot-password">Forgot password?</a>
							<span ng-show="model.passwordError">Incorrect password</span>
						</div>
					</div>
				</section>
				<section class="ob-bottom-section extended signup">
					<div>
						<div class="call-to-action">
						<button type="submit" class="traditional-login" ng-disabled="traditionalLoginForm.$invalid">Sign in</button>
						<a ng-click="socialLogin()" class="facebook">
							<i class="fa fa-facebook" aria-hidden="true"></i>
							{{fbButtonLabel}}
						</a>
						</div>
						<div class="ob-footer">
							<a href="/createAccount.html" class="create-account">Create a new account</a>
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>