<div class="wrapper light">
	<div id="signinVerify" class="form">
		<div class="full-screen">
			<div class="content">
				<form name="signinVerify" ng-submit="completeLogin()" class="light" novalidate form-validation>
					<section class="ob-top-section">
						<div class="light-bg">
							<p class="fp-copy">We just need a few more details</p>
							<div class="field" ng-if="missingFieldMatch('gender')">
								<label for="gender">Gender</label>
								<select name="gender" ng-model="model.formValues.gender" class="drop-down error-empty ca-gender" required>
									<option value="" disabled selected>Select</option>
									<option value="Male" class="dd-list">Male</option>
									<option value="Female" class="dd-list">Female</option>
									<option value="Transgender" class="dd-list">Transgender</option>
									<option value="None of the above" class="dd-list">I don’t identify with the above</option>
								</select>
								<span class="error-empty-msg" class="dd-list" ng-class="{'no-scroll': model.noScroll}"></span>
							</div>
							<div class="field" ng-if="missingFieldMatch('birthday')">
								<label for="dob">Birth year</label>
								<input class="error-empty drop-down dob ca-dob" name="birthday" ng-model="model.formValues.dob" placeholder="Select" dob-field required />
								<span class="error-empty-msg" ng-class="{'no-scroll': model.noScroll}"></span>
							</div>
						</div>
					</section>
					<section class="ob-bottom-section">
						<div class="call-to-action">
							<button class="confirm" type="submit" ng-disabled="signinVerify.$invalid">Continue</button>
						</div>
						<div class="ca-footer">
							<a class="faq-link" href="/faqs.html">FAQ's</a>|<a href="#">Feedback</a>
						</div>
					</section>
				</form>
			</div>
		</div>
	</div>
</div>