<div class="wrapper light">
	<div id="forgot-password" class="form">
		<div class="full-screen">
			<div class="content" ng-show="model.fpPage===1" fade>
				<form name="forgotPassword" ng-submit="submitForgotPassword()" class="light" novalidate form-validation>
					<section class="ob-top-section">
						<div class="light-bg">
							<p class="fp-copy">Enter your email address below and we'll email you a link to reset your password</p>
							<div class="field">
								<label for="email">Email</label>
								<input type="email" class="email" name="email" ng-model="model.email" placeholder="youremail@domain.com.au" required />
								<span class="email-error"></span>
							</div>
						</div>
					</section>
					<section class="ob-bottom-section">
						<div class="call-to-action">
							<button class="reset-password" type="submit" ng-disabled="forgotPassword.$invalid || model.emailRecognised === false">Reset Password</button>
						</div>
						<form-footer></form-footer>
					</section>
				</form>
			</div>
			<div class="content flex" ng-show="model.fpPage===2" fade>
				<section class="ob-top-section">
					<div class="light-bg align-top">
						<p class="fp-copy" ng-show="emailSent">We've sent you an email with instructions on how to create a new password.</p>
						<p class="fp-copy" ng-show="!emailSent">We dont have this email on record.</p>
					</div>
				</section>
				<section class="ob-bottom-section">
					<div class="call-to-action">
						<a class="fp-signin" href="#">Sign in</a>
					</div>
					<form-footer></form-footer>
				</section>
			</div>
		</div>
	</div>
</div>
