// CORE STYLES

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	font-family: 'HelveticaNeueW01-55Roman';
}

* {
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

div.wrapper {
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: $dark-bg;

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		transition: background 0.3s linear;
	}

	&.screen1 {
		&:after {
			background-image: url('/images/OD_IOS_Onboarding_750x1334_2_TR.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&.screen2 {
		&:after {
			background-image: url('/images/OD_IOS_Onboarding_750x1334_1_TR.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&.screen3 {
		&:after {
			background-image: url('/images/OD_IOS_Onboarding_750x1334_5_TR.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.3;
		}
	}

	&.screen4 {
		background: #101316 url('/images/item4Potrait.jpg') no-repeat;
		background-size: cover;
	}

	&.light {
		background-color: $light-bg;

		div {
			.content {
				max-width: 100%;
			}
		}
	}

	div {
		.content {
			max-width: 270px;
		}
	}
}

.full-screen, #signin-verify-email {
	width: 100%;
	height: 100%;
}

.overlay {
	background: linear-gradient(-180deg, rgba(16,19,22,0.20) 22%, #101316 75%);
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.loading-spinner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	z-index: 2;
	opacity: 0.3;
}

.od-fade {
	opacity: 1;
	transition: opacity 0.6s ease;

	&.fade-out {
		opacity: 0;
	}
}

.content {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.scrollable {
	white-space: nowrap;

	> .scroll-content {
		position: relative;
		transition: all 0.3s ease;
		left: 0;
		font-size: 0;

		&.pb-page-2 {
			left: calc(-50vw - 270px);
		}

		&.pb-page-3 {
			left: calc(-100vw - 540px);
		}

		.form-scroll-page {
			vertical-align: top;
			font-size: 16px;
		}
	}
}

.form-scroll-page {
	width: 270px;
	margin-right: 50vw!important;

	&:last-of-type {
		margin-right: 0;
	}
}

.padding-top {
	padding-top: 30px;
}

section {
	position: relative;
	width: 100%;

	&.ob-top-section {
		flex: 1 1 auto;
		display: flex;
		align-items: center;

		> div {
			width: 100%;

			&.dot-controls {
				width: 48px;
			}
		}
	}

	&.ob-bottom-section {
		flex: 0 1 120px;
		text-align: center;

		&.extended {
			flex: 0 1 175px;
		}
	}
}

form {
	height: 100%;
	width: 100%;
}

h3 {
	text-align: center;
	color: #fff;
}

p {
	margin: 20px 0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.inline-block {
	display: inline-block;
	white-space: normal;
}

.copy {
	font-family: 'Brandon Grotesque';
	font-size: 24px;
	line-height: 28px;
	font-style: italic;
	text-align: center;
	color: $primary-color-one;
	margin: 0 auto;
	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.call-to-action {
	width: 270px;
	max-width: 290px;
    margin: 0 auto;
	a {
		display: block;
		color: $primary-color-two;
	    text-decoration: none;
	    border: 1px solid #e69800;
	    background: $primary-color-three;
	    text-align: center;
	    font-size: 13px;
	    line-height: 38px;
	    font-weight: bold;
	    border-radius: 2px;
	    margin-bottom: 15px;
	}
}

.dot-controls {
	position: absolute;
	bottom: -10px;
	left: calc(50% - 24px);
	width: 48px;
	font-size: 0;
	height: auto;

	.dot {
	    width: 16px;
		text-align: center;
		display: inline-block;
		span {
			display: inline-block;
			background: rgba(255, 255, 255, 0.4);
			width: 7px;
			height: 7px;
			border-radius: 50%;
			cursor: pointer;
		}
		&.active {
			span {
				background: $primary-color-one;
			}
		}
	}
}

.call-to-action {
	a {
		&.ob-next, &.ob-not-now {
			background: none;
			color: $primary-color-one;
			border: 1px solid #A6A6A6;
		}
	}
}

///////////////

form, .flex {
	@include flex-parent();

	p.copy {
		width: 280px;
		margin-bottom: 28px;
	}
}

@media (min-width: $screen-xs-min) {
	div.wrapper {
		div {
			.content {
				max-width: 290px;
			}
		}
	}

	section {
		&.ob-bottom-section {
			flex: 0 1 145px;

			&.extended {
				flex: 0 1 210px;
			}
		}
	}

	.copy {
		font-size: 26px;
		line-height: 32px;
	}

	.call-to-action {
		a {
			line-height: 43px;
		}
	}

	form, .flex {
		p.copy {
			width: 300px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	section {
		&.ob-bottom-section {
			flex: 0 1 165px;

			&.extended {
				flex: 0 1 230px;
			}
		}
	}

	.copy {
		font-size: 28px;
		line-height: 34px;
	}

	form, .flex {
		p.copy {
			width: 330px;
		}
	}
}

@media (min-width: $screen-md-min) {
	div.wrapper {
		&.screen1 {
			&:after {
				background-image: url('/images/OD_IOS_Onboarding_2048x2732_2_TR.jpg');
			}
		}

		&.screen2 {
			&:after {
				background-image: url('/images/OD_IOS_Onboarding_2048x2732_1_TR.jpg');
			}
		}

		&.screen3 {
			&:after {
				background-image: url('/images/OD_IOS_Onboarding_2048x2732_5_TR.jpg');
			}
		}

		div {
			.content {
				max-width: 460px;
			}
		}
	}

	section {
		&.ob-bottom-section {
			flex: 0 1 205px;
			&.signup {
				flex: 0 1 370px;
			}
		}
	}

	.copy {
		font-size: 38px;
		line-height: 46px;
	}

	form, .flex {
		p.copy {
			width: 450px;
		}
	}

	.scrollable {

		> .scroll-content {

			&.pb-page-2 {
				left: calc(-50vw - 460px);
			}

			&.pb-page-3 {
				left: calc(-100vw - 920px);
			}
		}
	}

	.form-scroll-page {
		width: 460px;
	}
}

@media (min-width: $screen-lg-min) {
	div.wrapper {
		&.screen1 {
			&:after {
				background-image: url('/images/OD_IOS_Onboarding_2732x2048_2_TR.jpg');
			}
		}

		&.screen2 {
			&:after {
				background-image: url('/images/OD_IOS_Onboarding_2732x2048_1_TR.jpg');
			}
		}

		&.screen3 {
			&:after {
				background-image: url('/images/OD_IOS_Onboarding_2732x2048_5_TR.jpg');
			}
		}

		div {
			.content {
				max-width: 460px;
			}
		}
	}

	section {
		&.ob-bottom-section {
			flex: 0 1 205px;
			&.signup {
				flex: 0 1 250px;
			}
		}
	}
}