// FONTS

@font-face {
	font-family: 'HelveticaNeueW01-55Roman';
	src: url('../fonts/HelveticaNeueW01-55Roman.eot');
	src: url('../fonts/HelveticaNeueW01-55Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueW01-55Roman.woff') format('woff'),
		url('../fonts/HelveticaNeueW01-55Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueW01-75Bold';
	src: url('../fonts/HelveticaNeueW01-75Bold.eot');
	src: url('../fonts/HelveticaNeueW01-75Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueW01-75Bold.woff') format('woff'),
		url('../fonts/HelveticaNeueW01-75Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/BrandonGrotesque-RegularItalic.eot');
	src: url('../fonts/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-RegularItalic.woff') format('woff'),
		url('../fonts/BrandonGrotesque-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}