// LIGHT FORM STYLING

form.light {
	section {
		&.ob-top-section {
			position: relative;
			margin-top: 50px;

			> div {
				align-self: flex-start;
			}
		}
	}

	.od-progress-bar {
		position: relative;
		margin: 25px 0 40px;
		font-size: 16px;
		font-weight: bold;
		color: $primary-color-two;

		span {
			color: $color-two;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -7px;
			height: 2px;
			width: 100%;
			background-color: $color-four;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -7px;
			height: 2px;
			background-color: $primary-color-two;
			transition: width 0.3s ease;
		}

		&.pb-page-1:after {
			width: 33%;
		}

		&.pb-page-2:after {
			width: 67%;
		}

		&.pb-page-3:after {
			width: 100%;
		}
	}

	label {
		color: $color-five;
	}

	.field {
		width: 270px;
		.ca-checkbox {
			margin-bottom: 20px;
		}
	}

	input, select {
		border-bottom: 1px solid rgba(159, 169, 179, 0.6);
		color: $primary-color-two;

		&:focus {
			border-bottom: 1px solid $primary-color-two;
			color: $primary-color-two;
		}
	}

	input[type='checkbox'] {
		width: auto;
		margin-right: 10px;
	}

	label.ca-newsletter {
		width: calc(100% - 35px);
	}

	.ca-terms {
		color: #000;
		font-size: 12px;
		line-height: 14px;
		margin: 0;
	}

	select.ng-pristine {
		color: rgba(159, 169, 179, 0.7);
	}

	.dot-controls {
		bottom: 25px;

		.dot {
			span {
				background: $color-four;
			}

			&.active {
				span {
					background: $color-two;
				}
			}
		}
	}

	.call-to-action {
		a {
			&.ob-next {
				color: #000;
				transition: box-shadow 0.2s ease;

				&.no-go {
					box-shadow: inset 0 0 5px $error;
				}
			}
		}
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(159, 169, 179, 0.7);
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(159, 169, 179, 0.7);
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(159, 169, 179, 0.7);
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: rgba(159, 169, 179, 0.7);
	}
}

.light-bg {
	h3 {
		color: #000;
		font-size: 16px;
		font-weight: bold;
	}

	p {
		color: #000;
		line-height: 20px;

		span.bold {
			font-weight: bold;
		}

		&.fp-copy {
			margin: 40px 0;
		}
	}

	&.start {
		align-self: flex-start!important;
	}
}

.ob-top-section > div.align-top {
	align-self: flex-start;
	margin-top: 50px;
}

form .ob-top-section > div.align-top {
	margin-top: 0;
	margin-bottom: 0;
}

.ca-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 60px;
	background-color: rgba(215, 219, 219, 0.25);

	a {
		margin: 0 20px;
		color: $color-three;
		text-decoration: underline;
	}
}

@media (min-width: $screen-xs-min) {
	form.light {
		.form-container {
			margin-top: 40px;
		}

		.ca-footer {
			line-height: 80px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	form.light {
		.form-container {
			margin-top: 60px;
		}

		.ca-footer {
			line-height: 100px;
		}
	}
}

@media (min-width: $screen-md-min) {
	form.light {
		.form-container {
			margin-top: 80px;
		}

		.ca-footer {
			line-height: 120px;
		}
	}
}

@media (min-width: $screen-lg-min) {
	form.light {
		.form-container {
			margin-top: 60px;
		}
	}
}
