// DARK FORM STYLING

#signin, .form, #signin-verify-email {
	position: relative;
	height: 100%;
	margin: 0 auto;
	z-index: 1;
	display: flex;
	align-items: center;

	div {
		margin: 0 auto;
	}

	.ob-top-section {
		> div {
			width: 270px;
			max-width: 290px;
			align-self: flex-end;
			margin-bottom: 30px;
		}
	}

	button {
		width: 270px;
		max-width: 290px;
		height: 40px;
		font-size: 13px;
		font-family: 'HelveticaNeueW01-75Bold';
		border: none;
		border-radius: 2px;
		margin-bottom: 15px;
		background: $primary-color-three;
		color: $primary-color-two;

		&:disabled {
			background: rgba(82, 94, 110, 0.4);
		}
	}

	.field {
		position: relative;
		margin: 0 0 40px;
		width: 100%;

		span, .forgot-password {
		    position: absolute;
		    bottom: -18px;
		    font-size: 8px;
		    font-weight: normal;
		    text-transform: uppercase;
		}

		span {
			color: #DC4E41;
			transition: all 0.2s ease;

			&.no-scroll {
				font-weight: bold;
				opacity: 0.8;
			}
		}

	    .forgot-password {
	    	right: 0;
	    	color: $color-four;
	    }
	}

	input, select {
		width: 100%;
		background: none;
		border: none;
		border-bottom: 1px solid rgba(215, 219, 219, 0.6);
		font-size: 14px;
		line-height: 14px;
		color: $color-four;
		font-weight: bold;
		padding: 10px 0;

		&:focus {
			outline: none;
			border-bottom: 1px solid $color-four;
		}

		&:-webkit-autofill {
			padding: 10px 5px;
		}

		&.dob {
			height: 32px;
		}
	}

	select {
		appearance: none;

		.dd-list {
			color: #000;
		}
	}

	label {
		font-size: 10px;
		line-height: 10px;
		color: $color-four;
		font-weight: normal;
		text-transform: uppercase;
		//margin-bottom: 10px;
	}

	.drop-down {
		background: url(../images/arrowDown.png) no-repeat 98% center;
    	background-size: 7px 5px;
    	margin: 0 10px 0 0;
	}

	.dob::-webkit-calendar-picker-indicator {
	    display: none;
	    -webkit-appearance: none;
	}

	.spacer {
		text-align: center;
		color: $color-two;
		margin: 15px 0;
		text-transform: uppercase;
		font-weight: bold;
	}

	.social {
		.facebook {
			position: relative;
			border-bottom: 1px solid rgba(82, 94, 110, 0.4);

			i {
				position: absolute;
				left: 10px;
				top: 11px;
				font-size: 20px;
				color: #fff;
			}

			button {
				background: $facebook;
				color: #fff;
			}
		}
	}

	a.facebook {
		background: $facebook;
		color: #fff;
		position: relative;
		border: 1px solid $facebook;

		i {
			position: absolute;
			left: 10px;
			top: 11px;
			font-size: 20px;
			color: #fff;
		}
	}
}

.traditional {
	height: 100%;
	position: relative;

	p.footnote {
		text-align: center;
		color: $color-two;
		font-size: 12px;
		margin-bottom: 35px;
		a {
			color: #fff;
			text-decoration: underline;
		}
	}

	.traditional-footer {
		text-align: center;

		a {
			color: $color-two;
			font-size: 12px;
			text-decoration: underline;
		}

		span {
			display: inline-block;
			margin: 0 15px;
			color: $color-two;
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(159, 169, 179, 0.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(159, 169, 179, 0.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(159, 169, 179, 0.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(159, 169, 179, 0.4);
}

@media (min-width: $screen-xs-min) {
	button {
		height: 45px;
		margin-bottom: 20px;
	}

	#signin, .form {
		button {
			margin-bottom: 20px;
			height: 45px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	#signin, .form {
		.field {
			margin-bottom: 40px;
		}
	}
}
