// VARIABLES

// Colours
$primary-color-one: #fff;
$primary-color-two: #1B2024;
$primary-color-three: #ffa900;
$color-one: #A6A6A6;
$color-two: #9FA9B3;
$color-three: #525E6E;
$color-four: #D7DBDB;
$color-five: #525E6D;
$dark-bg: #101316;
$light-bg: #F5F5F5;
$facebook: #2553B4;
$error: #DC4E41;

// Media queries
$screen-xl-min: 1200px;
$screen-lg-min: 992px;
$screen-md-min: 767px;
$screen-sm-min: 410px;
$screen-xs-min: 321px;

// MIXINS

@mixin flex-parent() {
	height: 100%;
	display: flex;
	flex-flow: column;
	position: relative;
	z-index: 1;
}
