<div class="wrapper light" slider fade>
	<div id="createAccount" class="form">
		<div class="full-screen">
			<div class="content" ng-if="model.createLoginPage!=4">
				<form name="createAccount" class="light" ng-submit="traditionalRegistration()" novalidate form-validation>
					<section class="ob-top-section">
						<div class="form-container">
							<div class="od-progress-bar" ng-class="pbPage()">
								Step {{model.createLoginPage}}<span>/3</span>
							</div>
							<div class="scrollable">
								<div class="scroll-content" ng-class="pbPage()">
									<div class="inline-block form-scroll-page">
										<div class="field">
											<label for="firstName">First name</label>
											<input type="text" class="error-empty ca-first-name" name="firstName" ng-model="model.formValues.firstName" placeholder="First name" required />
											<span class="error-empty-msg" ng-class="{'no-scroll': model.noScroll}"></span>
										</div>
										<div class="field">
											<label for="lastName">Last name</label>
											<input type="text" class="error-empty ca-last-name" name="lastName" ng-model="model.formValues.lastName" placeholder="Last name" required />
											<span class="error-empty-msg" ng-class="{'no-scroll': model.noScroll}"></span>
										</div>
									</div>
									<div class="inline-block form-scroll-page">
										<div class="field">
											<label for="email">Email</label>
											<input type="email" class="email ca-email" name="email" ng-model="model.formValues.email" placeholder="youremail@domain.com.au" required />
											<span class="email-error" ng-class="{'no-scroll': model.noScroll}"></span>
										</div>
										<div class="field">
											<label for="password">Password</label>
											<input type="password" class="error-empty ca-password" name="password" ng-model="model.formValues.password" placeholder="Enter password here" required />
											<span class="error-empty-msg" ng-class="{'no-scroll': model.noScroll}"></span>
										</div>
										<div class="field">
											<label for="displayName">Display name</label>
											<input type="text" class="error-empty ca-display-name" name="displayName" ng-model="model.formValues.displayName" placeholder="Display name" required />
											<span class="error-empty-msg" ng-class="{'no-scroll': model.noScroll}"></span>
										</div>
									</div>
									<div class="inline-block form-scroll-page">
										<div class="field">
											<label for="dob">Birth year</label>
											<input class="error-empty drop-down dob ca-dob" name="dob" ng-model="model.formValues.dob" placeholder="Select" dob-field required />
											<span class="error-empty-msg" ng-class="{'no-scroll': model.noScroll}"></span>
										</div>
										<div class="field">
											<label for="gender">Gender</label>
											<select name="gender" ng-model="model.formValues.gender" class="drop-down error-empty ca-gender" required>
												<option value="" disabled selected>Select</option>
												<option value="Male" class="dd-list">Male</option>
												<option value="Female" class="dd-list">Female</option>
												<option value="Transgender" class="dd-list">Transgender</option>
												<option value="None of the above" class="dd-list">I don’t identify with the above</option>
											</select>
											<span class="error-empty-msg" class="dd-list" ng-class="{'no-scroll': model.noScroll}"></span>
										</div>
										<div class="field ca-checkbox">
											<input type="checkbox" id="newsletter" name="newsletter" ng-model="model.formValues.newsletter" value="newsletter">
											<label for="newsletter" class="ca-newsletter">Stay on top of the latest shows &amp; movies with our free newsletter</label>
										</div>
										<p class="ca-terms">By pressing "Create Account", you confirm that you accept our <a href="#">terms of service</a> and have read and understood our <a href="#">privacy policy</a>.</p>
									</div>
								</div>
							</div>
							<div class="dot-controls" ng-swipe-left="stopEvent($event)" ng-swipe-right="stopEvent($event)">
								<div class="dot dot-one" ng-class="{'active': model.createLoginPage===1}"><span></span></div>
								<div class="dot dot-two" ng-class="{'active': model.createLoginPage===2}"><span></span></div>
								<div class="dot dot-three" ng-class="{'active': model.createLoginPage===3}"><span></span></div>
							</div>
						</div>
					</section>
					<section class="ob-bottom-section small">
						<div class="call-to-action" ng-swipe-left="stopEvent($event)" ng-swipe-right="stopEvent($event)">
							<a class="ob-next ca-next" ng-class="{'ca1': model.createLoginPage===1, 'ca2': model.createLoginPage===2, 'no-go': badClick}" ng-show="model.createLoginPage != 3" ng-click="next()">Next</a>
							<button class="confirm ca-confirm" ng-show="model.createLoginPage===3" type="submit" ng-disabled="createAccount.$invalid">Confirm</button>
						</div>
						<div class="ca-footer">
							<a class="faq-link" href="/faqs.html">FAQ's</a>|<a href="#">Feedback</a>
						</div>
					</section>
				</form>
			</div>
			<div class="content flex" ng-if="model.createLoginPage===4">
				<section class="ob-top-section">
					<div class="light-bg align-top">
						<div class="padding-top">
							<h3>Nearly done!</h3>
							<p>We've just sent a confirmation email to <span class="bold">{{model.formValues.email}}</span>.</p>
							<p>You'll need to click on the link to validate it</p>
						</div>
					</div>
				</section>
				<section class="ob-bottom-section">
					<div class="call-to-action">
						<a class="ca-signin">Sign in</a>
					</div>
					<form-footer></form-footer>
				</section>
			</div>
		</div>
	</div>
</div>