<div class="wrapper light">
	<div id="createAccount" class="full-screen">
		<div class="content">
			<form name="socialRegistration" class="form light" novalidate form-validation>
				<section class="ob-top-section">
					<div class="light-bg align-top">
						<h3>You're almost done!</h3>
						<p>Please confirm the following details are correct.</p>
						<div class="field">
							<label for="name">Name</label>
							<input type="text" class="error-empty" name="name" ng-model="name" placeholder="Name" required />
							<span class="error-empty-msg"></span>
						</div>
						<div class="field" ng-show="!social.user.email">
							<label for="email">Email</label>
							<input type="email" class="email" name="email" ng-model="email" placeholder="youremail@domain.com.au" required />
							<span class="email-error"></span>
						</div>
						<div class="field">
							<label for="Username">Username</label>
							<input type="text" class="error-empty" name="Username" ng-model="Username" placeholder="Display name" required />
							<span class="error-empty-msg"></span>
						</div>
					</div>
				</section>
				<section class="ob-bottom-section">
					<div class="call-to-action">
						<a class="sl-confirm" href="#">Confirm</a>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>