// FAQ PAGE

#faqs {
	margin: 110px 4% 0;

	h3 {
		font-size: 14px;
		line-height: 16px;
		margin: 0;
		color: $primary-color-two;
		font-weight: bold;
		border-bottom: 1px solid $primary-color-two;
		padding-bottom: 5px;
	}

	.faq-items {
		margin: 0 0 40px;
		color: #525E6E;
	}

	.faq-item {
		border-bottom: 0.5px solid rgba(82, 94, 110, 0.3);
	}

	.faq-title {
		font-size: 14px;
		line-height: 17px;
		font-weight: bold;
		padding: 15px 20px 15px 0;
		background: url(../images/arrowDown.png) no-repeat right center;
    	background-size: 7px 5px;
    	margin-right: 10px;
    	transition: color 0.2s ease-in-out, background 0.3s ease-in-out;

    	&.open {
    		color: $primary-color-two;
			background: url(../images/arrowUp.png) no-repeat right center;
    		background-size: 7px 5px;
    	}
	}

	.faq-content {
		padding: 0 20px 0 0;
	    color: $color-three;
	    font-size: 14px;
	    line-height: 20px;
    	max-height: 0;
    	overflow-y: hidden;
	    text-rendering: optimizeLegibility !important;
    	-webkit-font-smoothing: antialiased !important;
    	transition: max-height 0.3s ease-in-out;

	    p {
	    	margin: 0 0 20px;
	    	color: $color-three;
	    	font-size: 14px;
	    	line-height: 20px;
	    	text-align: left;
	    }

	    a {
	    	color: $color-three;
	    	text-decoration: underline;
	    }

	    ol {
	    	padding-left: 15px;
	    }

	    .videoEmbed {
	    	width: 100%;
		    padding-top: 56.25%;
		    position: relative;

		    iframe {
		    	position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
		    }
	    }
	}

	.getinTouch {
		text-align: center;
		font-size: 12px;
		line-height: 17px;
		color: $color-three;
		margin-bottom: 80px;

		a {
			color: $color-three;
			text-decoration: underline;
		}
	}

	.footer-links {
		text-align: center;
		padding-bottom: 25px;

		a {
			color: #9FA9B3;
			font-size: 12px;
			text-decoration: underline;
		}

		span {
			color: #9FA9B3;
			display: inline-block;
			margin: 0 15px;
		}
	}
}