<div id="faqs">
	<div class="faq-items" ng-repeat="list in faqList">
		<h3>{{list.h3}}</h3>
		<div class="faq-item" ng-repeat="item in list" ng-if="$index > 0">
			<div class="faq-title" ng-click="showDetails = !showDetails" ng-bind-html="item.title"></div>
			<div class="faq-content" ng-class="{'show': showDetails}" ng-bind-html="item.content" vertical-slider></div>
		</div>
	</div>

	<div class="getinTouch">
		Couldn't find answer you were looking for?<br />
		<a href="mailto:sbsondemandteam@sbs.com.au?subject=SBS On Demand 2016 iOS App Get in touch" target="_blank" class="trackEvent" data-tracking="getInTouch">Get in touch</a> and tell us more.
	</div>

	<div class="footer-links">
		<a href="http://www.sbs.com.au/aboutus/corporate/view/id/113/h/SBS-Privacy-Statement" target="_blank" class="trackEvent" data-tracking="privacyPolicy">Privacy</a>
		<span>|</span>
		<a href="http://www.sbs.com.au/aboutus/corporate/view/id/114/h/Terms-and-Conditions" target="_blank" class="trackEvent" data-tracking="termaConditions">Terms &amp; Conditions</a>
	</div>
</div>