<div class="wrapper light">
	<div id="signin-verify-email">
		<div class="full-screen">
			<div class="content flex" ng-show="vePage === 1">
				<section class="ob-top-section">
					<div class="light-bg start">
						<p class="fp-copy">You didn't verify your email. Go find the email, and click the link</p>
						<p class="fp-copy">or click the button below if you need us to resend</p>
					</div>
				</section>
				<section class="ob-bottom-section">
					<div class="call-to-action">
						<a class="signup" ng-click="sendVerificationEmail()">Resend</a>
					</div>
					<form-footer></form-footer>
				</section>
			</div>
			<div class="content flex" ng-show="vePage === 2">
				<section class="ob-top-section">
					<div class="light-bg start">
						<p class="fp-copy">Nearly done!</p>
						<p class="fp-copy">we've sent a confirmation email to <span>{enter email here}<span></p>
						<p class="fp-copy">You'll need to click on the link to validate it</p>
					</div>
				</section>
				<section class="ob-bottom-section">
					<div class="call-to-action">
						<a class="signup" ng-click="signIntoApp()">Sign in</a>
					</div>
					<form-footer></form-footer>
				</section>
			</div>
		</div>
	</div>
</div>